{% extends "layout.html" %}

{% block content %}
	<h2>About</h2>
	<center>
		<img src="{{ url_for('static',filename='img/about.jpg')}}">
	</center>
	<h3>Bio</h3>
	<p>I recently moved to Phildaelphia after spending the last three years as the computer science department chair and Teach for America corps member at Lindblom Math and Science Academy, a selective enrollment high school in Chicago's Englewood neighborhood.  At Lindblom I focused on creating a department that provded access to students from underrepresented groups in computing and am proud to say that the percentage of female students in computer science classes more than doubled over my time there.</p>

	<p>While teaching I also worked with a group of district officials, college professors and other local computer science teachers to pilot the Exploring Computer Science (ECS) curriculum in the Chicago public schools.  With this group I provided professional development for all computer science teachers in the district who were teaching the curriculum.</p>

	<p>Prior to teaching I attended Swarthmore College where I majored in Computer science, was an editor of the school literary magazine and captain of the rugby team.</p>
{% endblock %}