{% extends "layout.html" %}

{% block content %}

<h2>Teaching</h2>

<h3>Exploring Computer Science (ECS)</h3>

<p>While teaching ECS as an introductory course I focused on increasing access to students from underrepresented groups and saw a more than 100% growth in the number of women chosing to take computer science courses.  In the course we cover topics ranging from discussing "what isa computer?" to designing simple websites, creating games in Scratch and building android apps using AppInventor.</p>

<h3>Professional Development</h3>
<p>After learning to teach ECS myself, I was asked to help teachin all of the other new teachers in the Chicago Public Schools how to teach the curriculum as well.  We use a method designed by the creators of the curriculum that bucks the trend of most teacher professional development opportunities.  Instead of simply standing in front of a room of teachers and telling them how to use some tool, we actually collaboratively plan out the lessons in groups and practice teaching them to the rest of the group.</p>

<p>You can find more information about my teaching at my classroom website <a href="http://www.mrbaskin.com">mrbaskin.com</a> </p>

{% endblock %}